.centrar{
    text-align: center;
}

.mt{
    margin-top: 10%;
}

.img-duoc{
    width: 110px;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.color-card{
    background-color: rgb(228, 227, 227);
}

ion-input{
    border-color: rgb(194, 194, 194);

}