.img-duoc{
    width: 120px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-btn{
    float: left;
}

.m-t{
    margin-top: 10px;
}

.log-btn{
    width: 100%;
    background-color: rgba(14, 158, 168, 0.767);
    color: azure;
}

.preuba{
    background-color: bisque;
}